#
# Copyright 2017, Data61
# Commonwealth Scientific and Industrial Research Organisation (CSIRO)
# ABN 41 687 119 230.
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(DATA61_BSD)
#

menuconfig LIB_SEL4_BENCH
    bool "libsel4bench"
    default y
    depends on HAVE_LIB_SEL4 && HAVE_LIBC && HAVE_LIB_UTILS
    select HAVE_LIB_SEL4_BENCH
    help
        Benchmarking library and functionality for various platforms

config FLOG
    bool "Enable fast logging library?"
    default n
    depends on LIB_SEL4_BENCH
    help
        Provide flog.h functions. If this is false, flog.h functions will be #ifdef'd out.

config HAVE_LIB_SEL4_BENCH
    bool
